/* client/src/App.css
 * This File delivers all static CSS Classes. */

.main-dash,
.main-dash * {
  box-sizing: border-box;
}

.main-dash {
  background: #ffffff;
  width: inherit;
  min-width: 1440px;
  height: max-content;
  min-height: 775px;
  position: relative;
  overflow: auto;
}

.header-bar {
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.header {
  background: #000000;
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.trello-dash {
  color: #ffffff;
  text-align: left;
  font: 700 15px "Inter", sans-serif;
  position: absolute;
  left: 25px;
  top: 20px;
}

.project-abcd {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0)
}

.url-poster,
.url-poster * {
  box-sizing: border-box;
}

.url-poster {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #5470ff;
  border-width: 2px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 188px;
  height: 29px;
  position: absolute;
  right: 90px;
  top: 13px;
}

.url-poster-submit {
  position: absolute;
  right: 25px;
  top: 13px;
  height: 29px;
}

.placeholder-url {
  color: #000000;
  text-align: left;
  font: 400 15px/24px "Inter", sans-serif;
  position: relative;
  flex: 1;
}

.raumplan-anzeigen {
  color: #ffffff;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: absolute;
  left: 1284px;
  top: 20px;
}

/* BODY */

.body-content {
  position: relative;
  height: auto;
  min-width: 1390px;
  max-width: 1390px;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  min-height: 720px;
  top: 55px;
  padding: 25px;
}

.progress-block {
  width: 433px;
  height: 140px;
  position: relative;
}

.rectangle-1 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: 433px;
  height: 140px;
  left: 0px;
  top: 0px;
}

.completion-of-tasks {
  color: #000000;
  text-align: left;
  font: 600 16px "Inter", sans-serif;
  position: absolute;
  left: 20px;
  top: 17px;
}

.rectangle-5 {
  background: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 369px;
  height: 41px;
  position: absolute;
  left: 32px;
  top: 50px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-6 {
  background: #000000;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 200px;
  height: 41px;
  position: absolute;
  left: 32px;
  top: 50px;
}

._12-23-tasks-done {
  color: #000000;
  text-align: left;
  font: 600 16px "Inter", sans-serif;
  position: absolute;
  left: 144px;
  top: 105px;
}

.mini-blocks {
  display: flex;
  position: relative;
  width: 432px;
  height: 150px;
  left: 0px;
  top: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 18px;
}

.spi-mini-block {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  padding: 8px 26px 8px 26px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  width: 132px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.spi {
  color: #000000;
  text-align: left;
  font: 600 32px "Inter", sans-serif;
  position: relative;
}

._1-103 {
  color: #1bae18;
  text-align: center;
  font: 600 32px "Inter", sans-serif;
  position: relative;
}

.sv-block {
  width: 132px;
  height: 150px;
  position: relative;
}

.rectangle-4 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: 132px;
  height: 150px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.sv {
  color: #000000;
  text-align: center;
  font: 600 32px "Inter", sans-serif;
  position: absolute;
  width: inherit;
  top: 8px;
}

._1-2 {
  color: #1bae18;
  text-align: center;
  font: 600 32px "Inter", sans-serif;
  position: absolute;
  left: 1px;
  top: 55px;
  width: 128px;
  height: 78px;
  display: grid;
  align-items: center;
  align-content: center;
}

.ru-mini-block {
  width: 132px;
  height: 150px;
  position: relative;
}

.ru {
  color: #000000;
  text-align: center;
  font: 600 32px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 23px);
  top: calc(50% - 67px);
}

._86 {
  color: #e9770f;
  text-align: center;
  font: 600 32px "Inter", sans-serif;
  position: absolute;
  left: 0px;
  top: 75px;
  width: 132px;
}

.vector {
  position: absolute;
  left: 55px;
  top: 120px;
  overflow: visible;
}

.members {
  width: 433px;
  height: auto;
  min-height: 300px;
  position: relative;
  top: 40px;
}

.rectangle-2 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: 433px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.member-title {
  color: #000000;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: relative;
  left: 20px;
  top: 18px;
}

.member-list {
  width: 393px;
  left: 20px;
  display: table;
  position: relative;
}

.tablewrapper {
  overflow: auto;
  top: 28px;
  height: 240px;
  display: block;
  position: relative;
  width: 430px;
}

.tableheader {
  text-align: left;
}

.tableheader thead th {
  position: sticky;
  vertical-align: super;
  align-items: start;
  text-align: left;
  height: fit-content;
  text-decoration: underline;
}

.tablebody {
  overflow-y: auto;
  overflow-x: hidden;
}

.member {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}

.member-name {
  color: #000000;
  text-align: left;
  font: 400 15px "Inter", sans-serif;
  position: relative;
}

.member-name div {
  display: table-cell;
  padding: 5px 0;
}

/* RIGHT COLOUMN */

.zone-holder {
  width: 887px;
  height: 361px;
  position: absolute;
  left: 478px;
  top: 25px;
}

.border {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
  width: inherit;
  height: 361px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.zones {
  color: #000000;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: absolute;
  left: 30px;
  top: 21px;
}

.property-1-a,
.zones2 {
  align-items: center;
  display: flex;
  overflow: auto;
  position: relative;
  row-gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.zones2 {
  height: 300px;
  top: 46px;
  width: 882px;
  left: 2px;
}

.property-1-a {
  background: #d9d9d9;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 260px;
  overflow: hidden;
  padding: 10px 21px 15px;
}

.zone-a {
  color: #000000;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: relative;
}

.progress-bar {
  flex-shrink: 0;
  width: 215px;
  height: 41px;
  position: static;
}

.rectangle-52 {
  background: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 215px;
  height: 41px;
  position: absolute;
  left: 21px;
  top: 43px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-62 {
  background: #000000;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 123px;
  height: 41px;
  position: absolute;
  left: 21px;
  top: 43px;
}

._5-9 {
  color: #ffffff;
  text-align: center;
  font: 600 15px "Inter", sans-serif;
  position: relative;
  top: 25%;
}

._5-9-empty {
  position: absolute;
  left: 95px;
  color: black;
  text-align: center;
  font: 600 15px "Inter", sans-serif;
  width: max-content;
  top: 25%;
}

.people {
  flex-shrink: 0;
  width: 215px;
  height: 46.62px;
  position: static;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.ellipse-1 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ellipse-2 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 77.13px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ellipse-3 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 133.26px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ellipse-4 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 189.38px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.critical-task {
  flex-shrink: 0;
  width: 212px;
  height: 38px;
  position: static;
}

.rectangle-11 {
  background: #e51d1d;
  border-radius: 10px;
  width: 212px;
  height: 38px;
  position: absolute;
  left: 22.5px;
  top: 160.62px;
}

._1-critical-task-open {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 79.5px;
  top: 170.62px;
}

.vector4 {
  position: absolute;
  left: 33.5px;
  top: 170.62px;
  overflow: visible;
}

.on-time {
  flex-shrink: 0;
  width: 212px;
  height: 38px;
  position: static;
}

.rectangle-112 {
  background: #2a7e15;
  border-radius: 10px;
  width: 212px;
  height: 38px;
  position: absolute;
  left: 22.5px;
  top: 213.62px;
}

.tasks-on-time {
  color: #ffffff;
  text-align: center;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 49px);
  top: 223.62px;
}

.vector5 {
  position: absolute;
  left: 33.5px;
  top: 222.62px;
  overflow: visible;
}

.property-1-b {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 10px 21px 15px 21px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.zone-b {
  color: #000000;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: relative;
}

._4-8 {
  color: #ffffff;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: absolute;
  left: 67px;
  top: 54px;
}

.people2 {
  flex-shrink: 0;
  width: 158.87px;
  height: 46.62px;
  position: static;
}

.ellipse-12 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 49.06px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ellipse-22 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 105.19px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ellipse-32 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 161.32px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-113 {
  background: #2a7e15;
  border-radius: 10px;
  width: 212px;
  height: 38px;
  position: absolute;
  left: 22.5px;
  top: 160.62px;
}

.rectangle-113-2 {
  background: #1e748f;
  border-radius: 10px;
  width: 212px;
  height: 38px;
  position: absolute;
  left: 22.5px;
  top: 160.62px;
}

.critical-tasks-done {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 79.5px;
  top: 170.62px;
}

.vector6 {
  position: absolute;
  left: 33.5px;
  top: 170.62px;
  overflow: visible;
}

.vector7 {
  position: absolute;
  left: 33.5px;
  top: 222.62px;
  overflow: visible;
}

.property-1-c {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 10px 21px 15px 21px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.zone-c {
  color: #000000;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: relative;
}

.rectangle-63 {
  background: #000000;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 110px;
  height: 41px;
  position: absolute;
  left: 21px;
  top: 43px;
}

._3-6 {
  color: #ffffff;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: absolute;
  left: 63px;
  top: 54px;
}

.people3 {
  flex-shrink: 0;
  width: 102.74px;
  height: 46.62px;
  position: static;
}

.ellipse-13 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 77.13px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ellipse-23 {
  border-radius: 50%;
  width: 46.62px;
  height: 46.62px;
  position: absolute;
  left: 133.26px;
  top: 99px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

._1-critical-task-open2 {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 68px;
  top: 171px;
}

.vector8 {
  position: absolute;
  left: 33.5px;
  top: 170.62px;
  overflow: visible;
}

.rectangle-114 {
  background: #e9770f;
  border-radius: 10px;
  width: 212px;
  height: 38px;
  position: absolute;
  left: 22.5px;
  top: 213.62px;
}

.task-behind-schedule {
  color: #ffffff;
  text-align: center;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: calc(50% - 60.5px);
  top: 224px;
}

.vector9 {
  position: absolute;
  left: 33.5px;
  top: 222.62px;
  overflow: visible;
}

.tasks {
  height: 253px;
  left: 478px;
  top: 402px;
  width: 887px;
  position: absolute;
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 3px;
}

.rectangle-3 {
  width: 881px;
  height: 170px;
  position: absolute;
  overflow-y: auto;
  left: 0px;
  top: 44px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tasks2 {
  color: #000000;
  text-align: left;
  font: 600 15px "Inter", sans-serif;
  position: absolute;
  left: 30px;
  top: 16px;
}

.task-2 {
  background: #a1cea5;
  border-radius: 10px;
  padding: 7px 21px 7px 21px;
  width: 823px;
  height: 34px;
  position: absolute;
  left: 30px;
  top: 91px;
  overflow: hidden;
}

.aufgabe-1-2-testbeschreibung {
  color: #000000;
  text-align: left;
  font: 500 12px "Inter", sans-serif;
  text-decoration: line-through;
  position: absolute;
  left: 21px;
  top: 9.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 72px;
  align-items: center;
  justify-content: flex-end;
  width: 339px;
  position: absolute;
  left: 463px;
  top: 8px;
}

.ellipse-14 {
  border-radius: 50%;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.zone-label {
  background: #868686;
  border-radius: 15px;
  border-style: solid;
  border-color: #676767;
  border-width: 1px;
  padding: 3px 11px 3px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.zone-a2 {
  color: #ffffff;
  text-align: left;
  font: 500 11px "Inter", sans-serif;
  position: relative;
}

.label-b {
  background: #868686;
  border-radius: 15px;
  border-style: solid;
  border-color: #676767;
  border-width: 1px;
  padding: 3px 11px 3px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.due-in-10-minutes {
  color: #ffffff;
  text-align: left;
  font: 500 11px "Inter", sans-serif;
  position: relative;
}

.task {
  background: #d9d9d9;
  border-radius: 10px;
  padding: 7px 21px 7px 21px;
  width: 823px;
  height: 34px;
  position: relative;
  left: 30px;
  overflow: hidden;
  min-height: 34px;
}

.aufgabe-1-1-testbeschreibung {
  color: #000000;
  text-align: left;
  font: 500 12px "Inter", sans-serif;
  position: absolute;
  left: 21px;
  top: 9.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame-2 {
  width: 339px;
  height: 20px;
  position: absolute;
  left: 463px;
  top: 7px;
}

.ellipse-15-group {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  gap: 4px;
  justify-content: flex-start;
  /* overflow: hidden; */
  position: relative;
  /* width: 50px; */
  right: 300px;
  /* height: 20px; */
  flex-wrap: nowrap;
}

.ellipse-15 {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.zone-label2 {
  background: #868686;
  border-radius: 15px;
  border-style: solid;
  border-color: #676767;
  border-width: 1px;
  padding: 3px 11px 3px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 92px;
  top: 1px;
  overflow: hidden;
}

.label-b2 {
  background: #868686;
  border-radius: 15px;
  border-style: solid;
  border-color: #676767;
  border-width: 1px;
  padding: 3px 11px 3px 11px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 242px;
  top: 0.5px;
  overflow: hidden;
}

.due-in-2-hours {
  color: #ffffff;
  text-align: left;
  font: 500 11px "Inter", sans-serif;
  position: relative;
}

.vector10 {
  position: absolute;
  left: 432px;
  top: 196px;
  overflow: visible;
}

.footer {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 40px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.footer a {
  color: #626262;
  text-align: center;
  font: 200 15px "Inter", sans-serif;
}